body {
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

footer {
    margin-top: auto;
}

/***********
 * Index
***********/

.cabecera-index {
    background: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.9)), url('img/hojas.jpg');
}

.login-index {
    float: right;
}

.logo-index {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: center;
    /* background: #fefefe; */
    flex-wrap: wrap;
    clear: both;
}

.landing {
    font-family: 'Montserrat';
    font-weight:bolder;
    font-size: 120px;
    line-height: 50px;
    margin-bottom: 40px;
}

.bienvenida {
    font-family: Roboto;
    position: relative;
    text-align: center;
    justify-content: center;
}

.invitacion-bienvenida {
    font-family: Roboto;
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: center;
    /* background: #fefefe; */
    clear: both;
}

/***********
 * Footer
 **********/
footer.inicio {
    display: flex;
    justify-content: center;
}

ul.menu-footer {
    padding: 10px 16px;
    list-style: none;
}

ul.menu-footer li {
    display: inline;
    font-size: 18px;
}

ul.menu-footer li+li:before {
    padding: 8px;
    color: black;
    content: "\00a0";
}

ul.menu-footer li a {
    color: #000000;
    text-decoration: none;
}

ul.menu-footer li a:hover {
    color: #000000;
    text-decoration: underline;
}

/**************
 * privacidad
**************/

.cabecera-default {
    float: left;
    align-items: baseline;
    width: 100%
}

/***********
 * Miguitas de pan!
 ***********/
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* Cosas que robo de internet */
.contenedor-texto {
    min-height: 360px;
    border: 0;
    font: inherit;
    font-size: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
